/* ContactForm.module.css */

.wrapper {
    display: flex;
    width: 95%;
    height: 100vh;
    background-color: #f5f5f5;
    color: #000;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .formContainer, .infoContainer {
    flex: 1;
    padding: 40px;
    border-radius: 10px;
  }
  
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .row {
    display: flex;
    gap: 10px;
  }
  
  .input {
    flex: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
  }
  
  .inputFull, .textarea {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
  }
  
  .textarea {
    height: 120px;
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f5f5f5;
    border-right: none;
    border-radius: 10px;
  }
  
  .infoTitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
  }
  
  .infoText {
    text-align: center;
    margin-bottom: 20px;
    color: #000;
  }
  
  .contactDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .map {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .socialMedia {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
  }
  
  .socialMedia i {
    font-size: 24px;
    cursor: pointer;
    color: #000;
  }
  
  /* Responsive Design for max-width: 768px */
  @media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      height: auto;
    }
    .formContainer, .infoContainer {
      width: 100%;
      padding: 20px;
    }
    .formContainer {
      border-right: none;
      border-bottom: none;
    }
    .socialMedia {
      margin-top: 20px;
    }
  }